<div class="row">
    <div class="col-sm-9">
        <div id="calendar"></div>
    </div>
</div>

@section Scripts{
    <link rel="stylesheet" href="css/fullcalendar.min.css" />
    <script asp-src-include="~/js/moment.min.js,~/js/reservations.js,~/js/fullcalendar.min.js,~/js/calendar_locale_es.min.js" type="text/javascript"></script>
}