@model ErrorViewModel
@{
    ViewData["Title"] = "Error";
}

<h1 class="text-danger">Error.</h1>
<h2 class="text-danger">Ocurrió un error procesando su solicitud.</h2>

<p>
    @Model.ErrorMessage
</p>

<h3>Información de soporte</h3>
<p>
    Se ha generado información un informe de error.
</p>
