@model Urbagestion.UI.Web.Models.FacilityViewModels.FacilityIndexViewModel

@{
    ViewData["Title"] = "Editar";
}

<h2>Editar</h2>

<h4>Instalación</h4>
<hr />
<div class="row">
    <div class="col-md-12">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group col-xs-10 col-sm-4 col-md-4 col-lg-4">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group col-xs-10 col-sm-4 col-md-4 col-lg-4">
                <label asp-for="Price" class="control-label"></label>
                <input asp-for="Price" class="form-control" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
            <div class="clearfix"></div>
            <div class="form-group col-xs-10 col-sm-4 col-md-4 col-lg-4">
                <label asp-for="OpensAt" class="control-label"></label>
                <input asp-for="OpensAt" class="form-control" />
                <span asp-validation-for="OpensAt" class="text-danger"></span>
            </div>
            <div class="form-group col-xs-10 col-sm-4 col-md-4 col-lg-4">
                <label asp-for="CloseAt" class="control-label"></label>
                <input asp-for="CloseAt" class="form-control" />
                <span asp-validation-for="CloseAt" class="text-danger"></span>
            </div>
            <div class="clearfix"></div>
            <div class="form-group col-xs-12">
                <div class="checkbox">
                    <label>
                        <input asp-for="IsActive" /> @Html.DisplayNameFor(model => model.IsActive)
                    </label>
                </div>
            </div>
            @Html.Partial("ModelBase", Model)
        <div class="form-group">
            <input type="submit" value="Save" class="btn btn-default" />
        </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

